<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<%- include(`${partials}/header_main`); -%>
<!-- <a href="../../">Home</a> | <a href="../../funzone/">FUNZONE</a> | Synthetix: <a href="../../synthetix/susd/">sUSD</a> <a href="../../synthetix/ieth/">iETH</a> <a href="../../synthetix/sBTC/">sBTC</a> <a href="../../synthetix/ibtc/">iBTC</a> | yearn: <a href="../../yearn/ycrv/">yCRV</a> <a href="../../yearn/yfi_dai/">YFI-DAI</a> <a href="../../yearn/yfi_ycrv/">YFI-yCRV</a> <a href="../../yearn/vote/">voting</a> | mStable: <a href="../../mstable/usdc">mUSD-USDC</a> <a href="../../mstable/weth">mUSD-WETH</a> <a href="../../mstable/mta">mUSD-MTA (20-80)</a> <a href="../../mstable/mta_5">mUSD-MTA (95-5)</a> <a href="../../mstable/weth_uniswap">MTA-WETH</a> | UMA: <a href="../../uma/yusd">yUSD-USDC</a> | yfii: <a href="../../yfii/ycrv/">yCRV</a> <a href="../../yfii/yfii_dai/">YFII-DAI</a> | yffi: <a href="../../yffi/pool1/">yCRV</a> <a href="../../yffi/pool2/">YFFI-DAI</a> <a href="../../yffi/pool3/">YFFI-yCRV</a></div> -->
<pre id="log">
**************** 👨‍🌾 ZZZ UNI POOL B CALCULATOR 👨‍🌾 ****************
INFO  : https://zzz.finance
POOL  : https://etherscan.io/address/0xeee0b2ed62615441ce31c3166a4179a4b8fce615
STAKE : https://gov.zzz.finance;
***************************************************************************************
</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'zzz_uni'}); -%>
</body>
</html>
