<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<div>
    <a href="../../">Home</a> | <a href="../../funzone/">Funzone</a> | <a href="../scrv">scrv</a> <a href="../susd">susd</a>
</div>
<pre id="log">

    ██████╗  █████╗ ███████╗███████╗██████╗
    ██╔══██╗██╔══██╗██╔════╝██╔════╝██╔══██╗
    ██████╔╝███████║███████╗█████╗  ██║  ██║
    ██╔══██╗██╔══██║╚════██║██╔══╝  ██║  ██║
    ██████╔╝██║  ██║███████║███████╗██████╔╝
    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚═════╝

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'based_0'}); -%>
</body>
</html>
