<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>
  <body>
    <div>
      <a href="../">Home</a>
    </div>
    <pre id="log">

 ________  ___  ___   ________           ________   ________   ________    _______
|\  _____\|\  \|\  \ |\   ___  \        |\_____  \ |\   __  \ |\   ___  \ |\  ___ \
\ \  \__/ \ \  \\\  \\ \  \\ \  \        \|___/  /|\ \  \|\  \\ \  \\ \  \\ \   __/|
 \ \   __\ \ \  \\\  \\ \  \\ \  \           /  / / \ \  \\\  \\ \  \\ \  \\ \  \_|/__
  \ \  \_|  \ \  \\\  \\ \  \\ \  \         /  /_/__ \ \  \\\  \\ \  \\ \  \\ \  \_|\ \
   \ \__\    \ \_______\\ \__\\ \__\       |\________\\ \_______\\ \__\\ \__\\ \_______\
    \|__|     \|_______| \|__| \|__|        \|_______| \|_______| \|__| \|__| \|_______|

*****************nopm**********************************************************************

                    WARNING: DO NOT INVEST AN AMOUNT YOU CANNOT LOSE.
                             THIS IS PURELY FOR DEGEN FUN.

***************************************************************************************

    * <a href="../based/scrv">$BASED</a>
    * <a href="../shrimp/yfi">SHRIMP</a>

</pre>
    <%- include(`${partials}/scripts`); -%>
  </body>
</html>
