<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<div>
    <a href="../">Home</a>
</div>
<pre id="log">

 ________  ___  ___   ________           ________   ________   ________    _______
|\  _____\|\  \|\  \ |\   ___  \        |\_____  \ |\   __  \ |\   ___  \ |\  ___ \
\ \  \__/ \ \  \\\  \\ \  \\ \  \        \|___/  /|\ \  \|\  \\ \  \\ \  \\ \   __/|
 \ \   __\ \ \  \\\  \\ \  \\ \  \           /  / / \ \  \\\  \\ \  \\ \  \\ \  \_|/__
  \ \  \_|  \ \  \\\  \\ \  \\ \  \         /  /_/__ \ \  \\\  \\ \  \\ \  \\ \  \_|\ \
   \ \__\    \ \_______\\ \__\\ \__\       |\________\\ \_______\\ \__\\ \__\\ \_______\
    \|__|     \|_______| \|__| \|__|        \|_______| \|_______| \|__| \|__| \|_______|

***************************************************************************************

                    WARNING: DO NOT INVEST AN AMOUNT YOU CANNOT LOSE.
                            THIS IS FOR PURELY FOR FUN.

***************************************************************************************

    * <a href="./tendies">Tendies Farm</a>
    * <a href="../yam/yfi">YAM v1</a>
    * <a href="../based/scrv">$BASED</a>

</pre>
<%- include(`${partials}/scripts`); -%>
</body>
</html>
