<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider--- --------LP--------          --Reward Tokens--  --INFO--
     Synthetix       <a href="synthetix/susd/"    >Curve sUSD</a>                  SNX, CRV
     Synthetix       <a href="synthetix/ieth/"    >Synthetix iETH</a>              SNX
     Synthetix       <a href="synthetix/ibtc/"    >Synthetix iBTC</a>              SNX
  Synthetix + Ren    <a href="synthetix/sBTC/"    >Curve sBTC</a>                  SNX, REN, BAL, CRV
   yearn.finance     <a href="yearn/ygov2/"        >yearn.finance governance</a>    yCRV
      mStable        <a href="mstable/usdc/"      >Balancer mUSD-USDC</a>          MTA, BAL
      mStable        <a href="mstable/weth/"      >Balancer mUSD-WETH</a>          MTA, BAL
      mStable        <a href="mstable/mta/"       >Balancer mUSD-MTA 20-80</a>     MTA, BAL
      mStable        <a href="mstable/mta_5/"     >Balancer mUSD-MTA 95-5</a>      MTA, BAL
      mStable        <a href="mstable/weth_uniswap/">Uniswap MTA-WETH</a>            MTA
    UMA Project      <a href="uma/yusd/"          >Balancer yUSD-USDC</a>          UMA, BAL
    yfii.finance     <a href="yfii/ycrv/"         >Curve yCRV</a>                  YFII, CRV
    yfii.finance     <a href="yfii/yfii_dai/"     >Balancer YFII-DAI</a>           YFII, BAL?

--- Governance ---   --------INFO--------
   yearn.finance     <a href="yearn/vote/"        >yearn proposal voting</a>

----- Vaults -----   --------INFO--------
   yearn.finance     <a href="yearn/yvault/"      >yearn vaults</a>                Supports yCRV, DAI, USDT, TUSD, USDC, aLINK

<a href="funzone/">~ FUN ZONE (ENTER IF YOU DARE...) ~</a>
<br/>
Resources:

    Utilities:
        <a href="https://twitter.com/zapper_fi">@zapper_fi</a> - dashboard for all of the farming and #DeFi (Recommended for beginners)
        <a href="https://twitter.com/zerion_io">@zerion_io</a> - my 2nd goto for defi dashboard. Also has easy transactions export to csv for tax purposes via TokenTax.
        <a href="https://twitter.com/DeBankDeFi">@DeBankDeFi</a> - all-in-1 DeFi wallet
        <a href="https://twitter.com/TokenTax">@TokenTax</a> - the easiest way to file your cryptocurrency and DeFi tax returns.

    DeX (Decentralized Exchanges) & Aggregators:
        <a href="https://twitter.com/matchaxyz">@matchaxyz</a> - Robinhood of crypto trading. It just works. (Recommended for beginners)
        <a href="https://twitter.com/1inchExchange">@1inchExchange</a> - gives most optimal trades between tokens via 400 IQ AI
        <a href="https://twitter.com/DEXAG_TokenWire">@DEXAG_TokenWire</a> - optimizes trades by splitting between AMM

    Yield Farming:
        <a href="https://twitter.com/AaveAave">@AaveAave</a> - farm APY while waiting for new token economy
        <a href="https://twitter.com/BalancerLabs">@BalancerLabs</a> - farm $BAL by staking your tokens into Balancer pools
        <a href="https://twitter.com/CurveFinance">@CurveFinance</a> - farm stablecoin APY, Pool Tokens, $SNX, $CRV, $YFI
        <a href="https://twitter.com/synthetix_io">@synthetix_io</a> - farm SNX, mint sUSD, stake SNX, stake Curve or Balancer LP tokens
        <a href="https://twitter.com/compoundfinance">@compoundfinance</a> - farm $COMP by lending and borrowing
        <a href="https://twitter.com/iearnfinance">@iearnfinance</a> - farm $YFI with andre cronje's crazy pumpementals
        <a href="https://twitter.com/renprotocol">@renprotocol</a> - open protocol that enables the permissionless and private transfer of value between any blockchain

    News:
        <a href="https://twitter.com/DefiantNews">@DefiantNews</a> - The DeFi news platform - perfect for article lovers. <a href="https://www.youtube.com/channel/UCL0J4MLEdLP0-UyLu0hCktg">They also have a youtube channel.</a>
        <a href="https://twitter.com/sassal0x">@sassal0x</a> - Founder of <a href="http://thedailygwei.substack.com">TheDailyGwei</a>, a daily news about Ethereum and DeFi ecosystem. Great for catching up with latest news.
        <a href="https://twitter.com/defiprime">@defiprime</a> - catch latest news on DeFi world in bite sized tweets
        <a href="https://twitter.com/BanklessHQ">@BanklessHQ</a> - the ultimate guide to crypto finance
        <a href="https://twitter.com/DeFiRate">@DeFiRate</a> - a trusted resource for all things #DeFi
        <a href="https://twitter.com/DeFi_Dad">@DeFi_Dad</a> - a super user creating tutorials on DeFi (Recommended for beginners)
        <a href="https://yieldfarmer.substack.com/">DeFi Pulse Farmer</a> - a substack newsletter by Cooper Turley

    1000 IQ club:
        <a href="https://twitter.com/ChainLinkGod">@ChainLinkGod</a> - "few understand this"
        <a href="https://twitter.com/DegenSpartan">@DegenSpartan</a> - galaxy brain takes on DeFi with hentai memes
        <a href="https://twitter.com/devops199fan">@devops199fan</a> - super active DeFi farmer - always rts the spiciest dramas
        <a href="https://twitter.com/CL207">@CL207</a> - his bags create sell side liquidity crsis
        <a href="https://twitter.com/Cooopahtroopa">@Cooopahtroopa</a> - Editor of @defirate and a contributor to @DefiantNews

    Special Thanks:
        <a href="https://twitter.com/kaiynne">@kaiynne</a> Thanks for funding the project!
        <a href="https://twitter.com/econoar">@econoar</a> Thanks for funding the project!

<span><a href="https://github.com/yieldfarming/yieldfarming#how-to-use">README on GitHub</a></span>

Donation: https://gitcoin.co/grants/1005/yieldfarminginfo
          0x4BC821fef2ff947B57585a5FDBC73690Db288A49

</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
