<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<div>
    <a href="../../">Home</a> | <a href="../../funzone/">Funzone</a> | <a href="../yfi">yfi</a> <a href="../link">link</a> <a href="../lend">lend</a> <a href="../comp">comp</a> <a href="../mkr">mkr</a> <a href="../snx">snx</a> <a href="../ampl">ampl</a> <a href="../weth">weth</a> | <a href="../ycrv">ycrv</a>
</div>
<pre id="log">
__/\\\________/\\\_____/\\\\\\\\\_____/\\\\____________/\\\\_
 _\///\\\____/\\\/____/\\\\\\\\\\\\\__\/\\\\\\________/\\\\\\_
  ___\///\\\/\\\/_____/\\\/////////\\\_\/\\\//\\\____/\\\//\\\_
   _____\///\\\/______\/\\\_______\/\\\_\/\\\\///\\\/\\\/_\/\\\_
    _______\/\\\_______\/\\\\\\\\\\\\\\\_\/\\\__\///\\\/___\/\\\_
     _______\/\\\_______\/\\\/////////\\\_\/\\\____\///_____\/\\\_
      _______\/\\\_______\/\\\_______\/\\\_\/\\\_____________\/\\\_
       _______\/\\\_______\/\\\_______\/\\\_\/\\\_____________\/\\\_
        _______\///________\///________\///__\///______________\///__

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'yam_ycrv'}); -%>
</body>
</html>
